asgiref==3.3.4
awsebcli==3.20.0
botocore==1.20.101
cement==2.8.2
certifi==2021.5.30
chardet==4.0.0
colorama==0.4.3
commonmark==0.9.1
Django==3.2.4
django-bootstrap3==15.0.0
django-crispy-forms==1.12.0
django-widget-tweaks==1.4.8
future==0.16.0
idna==2.10
jmespath==0.10.0
pathspec==0.5.9
pydbhub==0.0.3
Pygments==2.9.0
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
rich==10.4.0
semantic-version==2.8.5
six==1.14.0
sqlparse==0.4.1
termcolor==1.1.0
urllib3==1.25.11
wcwidth==0.1.9
gunicorn==20.1.0