{% extends '../base.html' %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data de nascimento</th>
            <th>Email</th>
            <th>Sexo</th>
            <th>Cidade</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
    {% for cli in cliente %}
        <tr>
            <td>{{ cli.nome }}</td>
            <td>{{ cli.nascimento }}</td>
            <td>{{ cli.email }}</td>
            <td>{{ cli.sexo }}</td>
            <td>{{ cli.cidade }}</td>
            <td>
                <a href="{% url 'cliente_update' pk=cli.id %}">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'cliente_delete' pk=cli.id %}">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{% url 'atendente_create' %}">
    <button type="submit" class="btn btn-primary">
        Cadastrar
    </button>
</a>

{% endblock content %}