{% extends '../base.html' %}

{% block title %}
Lista de clientes
{% endblock title %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>Nº do chamado</th>
            <th>Data da abertura</th>
            <th>Descrição</th>
            <th>Status atual</th>
            <th>Atendente</th>
            <th>Data de fechamento</th>
            <th>Detalhes</th>
        </tr>
    </thead>
    <tbody>
    {% for c in chamado %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.data_abertura }}</td>
            <td>{{ c.descricao }}</td>
            <td>{{ c.status }}</td>
            <td>{{ c.atendente }}</td>
            <td>{{ c.data_fechamento }}</td>
            <td>
                <a href="{% url 'chamado_interacao_list' chamado=c.id %}">
                    <i class="fas fa-info"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{% url 'chamado_create' request.user.id %}">
    <button type="submit" class="btn btn-primary">
        Abrir novo chamado
    </button>
</a>

{% if messages %}
<div class="row mt-3">
    <div class="col-3">
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">
            {{ message }}
         </div>
    {% endfor %}
    </div>
</div>
{% endif %}

{% endblock content %}