{% extends '../base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="row mb-3">
    <div class="col-12">
       <h1>Novo Chamado</h1>
     </div>
</div>
<div class="row">
    <div class="col-12">

        <form method="post" action="">
            {% csrf_token %}
            <!--
            {% for field in form %}
            -->
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-ticket-alt"></i></span>
                        {{ form.descricao }}
                        <!--
                         {{ field.descricao|add_class:'form-control'|attr:"rows:20"|attr:"cols:20" }}
                         -->
                     </div>

                </div>
            <!--
            {% endfor %}
            -->

            <button type="submit" class="btn btn-primary">
                Salvar
            </button>
        </form>
    </div>
</div>

{% endblock content %}